doctype
html(lang='en')
    head 
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(property="og:title" content="DeghedeEaaT")
        meta(property="og:description" content="DeghedeEaaT is a place where Abdelrahman shares his thoughts about life.")
        meta(property="og:image" content="https://i.ibb.co/LNH49W4/small-version.jpg")
        meta(property="og:url" content="https://deghedeeaat.herokuapp.com/") 
        meta(name="twitter:card" content="summary_large_image")

        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)    
        link(href='https://fonts.googleapis.com/css2?family=Rochester&display=swap' rel='stylesheet')
        link(href='/styles.css' rel='stylesheet')
        link(rel='shortcut icon' href='/generic.png' type='image/x-icon')  
        title DeghedeEaaT
    body
        a.title(href='/') DeghedeEaaT
        block content
            each blog in blogs
                .content-container
                    .post-container
                        .secondary-content 
                            .post-minutes=`${blog.minutes === 0 ? 1 : blog.minutes} min read`
                            .post-date= `${blog.date.getDate()}/${blog.date.getMonth() + 1}/${blog.date.getFullYear()}`
                        .primary-content
                            - let langTitle = blog.title?.match(/[\u0621-\u064A]+/);
                            - let langDesc = blog.description?.match(/[\u0621-\u064A]+/);
                            a.post-title(dir=`${langTitle ? "rtl" : "ltr"}` class=`${langTitle ? "stick-right" : ""}` href=`view/${blog.slug}`)= blog.title
                            .post-description(dir=`${langDesc ? "rtl" : "ltr"}`)= blog.description