extends base

block content
    .content-container
        .post-container
            .secondary-content
                .post-minutes=`${blog.minutes === 0 ? 1 : blog.minutes} min read`
                .post-date= `${blog.date.getDate()}/${blog.date.getMonth() + 1}/${blog.date.getFullYear()}`
            .primary-content
                a.post-title-final= blog.title
                .post-description= blog.content
