extends base

block content
    .content-container
        .post-container
            .secondary-content
                .post-minutes=`${blog.minutes === 0 ? 1 : blog.minutes} min read`
                .post-date= `${blog.date.getDate()}/${blog.date.getMonth() + 1}/${blog.date.getFullYear()}`


            - let langTitle = blog.title?.match(/[\u0621-\u064A]+/)
            .primary-content(dir=`${langTitle ? "rtl" : "ltr"}`)
                a.post-title-final(dir=`${langTitle ? "rtl" : "ltr"}`)= blog.title
                - let x;
                - const arr = blog.content.split("\n");
                //- - console.log(arr);
                - let mixedLangCurrLine = blog.mixedLanguage;
                - for (let i = 0; i <= arr.length; i++)
                    - if (arr[i]?.match(/[\u0621-\u064A]+/))
                        - mixedLangCurrLine = 1
                    - else 
                        - mixedLangCurrLine = 0
                    - x = arr[i]
                    - if (arr[i] === '')
                        .br-container
                            br
                    - if (arr[i]?.startsWith("\tXXXX")  || arr[i]?.startsWith("XXXX"))
                        - x = arr[i]?.replace("XXXX", "")
                        .post-description(dir=`${mixedLangCurrLine ? "rtl" : "ltr"}` class=`${!mixedLangCurrLine ? "space-english" : "space-arabic"}`)= x
                    - else if (arr[i]?.startsWith("\tLLLL")  || arr[i]?.startsWith("LLLL"))
                        - x = arr[i]?.replace("LLLL", "", 1)
                        - linkText = x?.split("LLLL")[1]
                        - actualLink = x?.split("LLLL")[0]
                        a.link(target='_blank' href=`${actualLink}`)=linkText || x
                    - else if (arr[i]?.startsWith("\tIIII")  || arr[i]?.startsWith("IIII"))
                        - x = arr[i]?.replace("IIII", "", 1)
                        .image-container
                            img.format-img(src=`${x}`)
                    - else if (arr[i]?.startsWith("\tQQQQ")  || arr[i]?.startsWith("QQQQ"))
                        - x = arr[i]?.replace("QQQQ", "", 1)                            
                        .post-description(dir=`${mixedLangCurrLine ? "rtl" : "ltr"}` class=`${mixedLangCurrLine ? "quote-container-arabic" : "quote-container-english"}`)= x
                    - else if (arr[i]?.startsWith("\BBBB")  || arr[i]?.startsWith("BBBB"))
                        - x = arr[i]?.replace("BBBB", "", 1)                            
                        .post-description.bold-me= x
                    - else 
                        .post-description(dir=`${mixedLangCurrLine ? "rtl" : "ltr"}`)= x
    .audio-conteiner
        //- iframe(width="300" height="60" src="https://vocaroo.com/embed/194ciSAFZbMn?autoplay=0" frameborder="0" allow="autoplay")
        iframe(width="300" height="60" src=`${blog.audio || ""}` frameborder="0" allow="autoplay")
        

