extends base

block content
    .content-container
        .post-container
            .secondary-content
                .post-minutes=`${blog.minutes === 0 ? 1 : blog.minutes} min read`
                .post-date= `${blog.date.getDate()}/${blog.date.getMonth() + 1}/${blog.date.getFullYear()}`
            - if (!blog.mixedLanguage)
                .primary-content
                    .post-title-final= blog.title
                    - let x;
                    - const arr = blog.content.split("\n");
                    //- - console.log(arr);
                    - for (let i = 0; i <= arr.length; i++)
                        - x = arr[i]
                        - if (arr[i] === '')
                            .br-container
                                br
                        - if (arr[i]?.startsWith("\tXXXX")  || arr[i]?.startsWith("XXXX"))
                            - x = arr[i]?.replace("XXXX", "")
                            .post-description.space-english= x
                        - else 
                            .post-description= x
            - else
                .primary-content(dir='rtl' lang='ar')
                    a.post-title-final= blog.title
                    - let x;
                    - const arr = blog.content.split("\n");
                    //- - console.log(arr);
                    - for (let i = 0; i <= arr.length; i++)
                        - x = arr[i]
                        - if (arr[i] === '')
                            .br-container
                                br
                        - if (arr[i]?.startsWith("\tXXXX")  || arr[i]?.startsWith("XXXX"))
                            - x = arr[i]?.replace("XXXX", "")
                            .post-description.space-arabic= x
                        - else if (arr[i]?.startsWith("\tLLLL")  || arr[i]?.startsWith("LLLL"))
                                - x = arr[i]?.replace("LLLL", "")
                                a.link(target='_blank' href=`${x}`) Start Contributing On Open Source Projects By Abdelrahman Deghedy
                        - else 
                            .post-description= x
